<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PythonHandler" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python36\python.exe %s %s" resourceType="Either" requireAccess="Script" />
            <add name="PythonHandler" path="*py" verb="*" modules="CgiModule" scriptProcessor="C:\Python36\python.exe -u &quot;%s&quot;" resourceType="Either" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
